
@font-face {
    font-family:"Avenir Next Rounded Pro Demi Italic";
    src:url("AvenirNextRoundedDemiItalic-1080179.woff2") format("woff2"),url("AvenirNextRoundedDemiItalic-1080179.woff") format("woff"),url("AvenirNextRoundedDemiItalic-1080179.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        