
@font-face {
    font-family:"Avenir Next Rounded Pro Bold";
    src:url("AvenirNextRoundedBold-1080176.woff2") format("woff2"),url("AvenirNextRoundedBold-1080176.woff") format("woff"),url("AvenirNextRoundedBold-1080176.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        