node_modules
.env
**/.turbo

packages/protocol/deployments/outputs/13370
packages/protocol/deployments/outputs/test

# Hardhat files
**/cache
**/artifacts

# TypeChain files
**/typechain
**/typechain-types

# solidity-coverage files
**/coverage
**/coverage.json

.DS_Store

.vscode