
@font-face {
    font-family:"Avenir Next Rounded Pro Medium";
    src:url("AvenirNextRoundedMedium-1080181.woff2") format("woff2"),url("AvenirNextRoundedMedium-1080181.woff") format("woff"),url("AvenirNextRoundedMedium-1080181.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        