
@font-face {
    font-family:"Avenir Next Rounded Pro Demi";
    src:url("AvenirNextRoundedDemi-1080178.woff2") format("woff2"),url("AvenirNextRoundedDemi-1080178.woff") format("woff"),url("AvenirNextRoundedDemi-1080178.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        