
@font-face {
    font-family:"AvenirNextRoundedPro-Italic";
    src:url("AvenirNextRoundedItalic-1075329.woff2") format("woff2"),url("AvenirNextRoundedItalic-1075329.woff") format("woff"),url("AvenirNextRoundedItalic-1075329.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        