@font-face {
  font-family: "Avenir Next Rounded Pro Bold";
  src:
    url("AvenirNextRoundedBold-1080176.woff2") format("woff2"),
    url("AvenirNextRoundedBold-1080176.woff") format("woff"),
    url("AvenirNextRoundedBold-1080176.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Rounded Pro Bold Italic";
  src:
    url("AvenirNextRoundedBoldItalic-1075320.woff2") format("woff2"),
    url("AvenirNextRoundedBoldItalic-1075320.woff") format("woff"),
    url("AvenirNextRoundedBoldItalic-1075320.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Rounded Pro Demi";
  src:
    url("AvenirNextRoundedDemi-1080178.woff2") format("woff2"),
    url("AvenirNextRoundedDemi-1080178.woff") format("woff"),
    url("AvenirNextRoundedDemi-1080178.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Rounded Pro Demi Italic";
  src:
    url("AvenirNextRoundedDemiItalic-1080179.woff2") format("woff2"),
    url("AvenirNextRoundedDemiItalic-1080179.woff") format("woff"),
    url("AvenirNextRoundedDemiItalic-1080179.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Rounded Pro Italic";
  src:
    url("AvenirNextRoundedItalic-1075329.woff2") format("woff2"),
    url("AvenirNextRoundedItalic-1075329.woff") format("woff"),
    url("AvenirNextRoundedItalic-1075329.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Rounded Pro Medium";
  src:
    url("AvenirNextRoundedMedium-1080181.woff2") format("woff2"),
    url("AvenirNextRoundedMedium-1080181.woff") format("woff"),
    url("AvenirNextRoundedMedium-1080181.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Rounded Pro Medium Italic";
  src:
    url("AvenirNextRoundedMediumItalic-1080182.woff2") format("woff2"),
    url("AvenirNextRoundedMediumItalic-1080182.woff") format("woff"),
    url("AvenirNextRoundedMediumItalic-1080182.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Rounded Pro Regular";
  src:
    url("AvenirNextRoundedRegular-1080183.woff2") format("woff2"),
    url("AvenirNextRoundedRegular-1080183.woff") format("woff"),
    url("AvenirNextRoundedRegular-1080183.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
