
@font-face {
    font-family:"AvenirNextRoundedPro-BoldIt";
    src:url("AvenirNextRoundedBoldItalic-1075320.woff2") format("woff2"),url("AvenirNextRoundedBoldItalic-1075320.woff") format("woff"),url("AvenirNextRoundedBoldItalic-1075320.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        