
@font-face {
    font-family:"Avenir Next Rounded Pro Medium Italic";
    src:url("AvenirNextRoundedMediumItalic-1080182.woff2") format("woff2"),url("AvenirNextRoundedMediumItalic-1080182.woff") format("woff"),url("AvenirNextRoundedMediumItalic-1080182.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        