
@font-face {
    font-family:"Avenir Next Rounded Pro Regular";
    src:url("AvenirNextRoundedRegular-1080183.woff2") format("woff2"),url("AvenirNextRoundedRegular-1080183.woff") format("woff"),url("AvenirNextRoundedRegular-1080183.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        